/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Style Stats */
h2#stat {
    color: darkgreen;
}

dt, dl {
    color: darkgreen;
    font-size: 18px;
}

/* Set height for map */
#map-container { height: 380px; }















